* {
    box-sizing: border-box;
}

body{
    background-color: black;
    padding: 0em 13em 0em 13em;
}

section{
    background-repeat: repeat-y;
    background-position: center center;
    background-image: url('../images/greenBackground.jpg');
    padding: 1em 0em 1em 0em;
}

header{
    color: #FFD235;
    font: 60px Georgia, serif;
    text-align: center;
    padding: 1em 1em 1em 1em;
}

a{
    text-decoration: none;
}

.backButton{
    clear: both;
    color: white;
    background-color: black;
    border-radius: .2em;
    width: 15em;
    font: bold 1em Georgia, serif;
    padding: .5em .5em .5em .5em;
    margin-left: 1em;
    margin-top: 1em;
    box-shadow: grey 2px 2px;
}


.row{
    clear: both;
}

.pink{
    background-color: pink;
}

.orange{
    background-color: orange;
}

.center {
    margin-top: 10em;
    text-align: right;

}

[class*="col-"]{
    float: left;

}

.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}
.col-20{width: 20%;}
